<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>inventory</title>
</head>
<body>
<header>
    <%- include('./partials/nav'); %>
</header>
<main>
    <h1>All categories</h1>
    <ul>
        <% categories.forEach(function(category){ %>
            <li>
                <form>
                    <input type="hidden" name="category_id" value=<%= category._id %> />
                    <p><%= category.category_name %></p>
                    <p><%= category.description %></p>
                    <button type="submit" formmethod="get" formaction="/inventory/category/<%= category._id %>">
                        view
                    </button>
                    <button type="submit" formmethod="post" formaction="/inventory/category/delete/<%= category._id %>">
                        delete
                    </button>
                    <button type="submit" formmethod="get" formaction="/inventory/category/update/<%= category._id %>">
                        update
                    </button>
                </form>
            </li>
            <br>
        <% }); %>
    </ul>
</main>
</body>
</html>